# Logs
.env
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

PRINTER_NAME_SETUP_GUIDE.md
QZ_TRAY_IMPLEMENTATION_SUMMARY.md
THERMAL_PRINT_BUTTONS_SUMMARY.md

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
cp-dsa-bootcamp
test.jsx